html{
    background-color: #ade8f4;
    
}

/* MAIN MENU */
.main_menu{
    display: flex;
    position: absolute;
    width: 550px;
    height: 55vh;
    top: 100px;
    left: 24.5em;
    background-color: #0096c7;
    backdrop-filter: blur(10px);
    border: 2px solid #0096c7;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    transition: .3s;
    border-radius: 10px;
}

.menuTrans{
    height: 75vh;
}

.mm_active{
    left: 31em;
}

#main_header{
    position: absolute;
    text-transform: uppercase;
    top: 50px;
    left: 4.4em;
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.main_btns{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
    gap: 10px;
}

.main_btns button{
    color: white;
    width: 400px;
    padding: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    border:none;
    border-radius: 3px;
    cursor: pointer;
}

#play_btn{
    background-color: #ff6d00 ;
}

#play_btn:hover{
    background-color: #ff5400 ;
}
#logout_btn{
    background-color: #023e8a ;
}

#logout_btn:hover{
    background-color: #03045e ;
}

#bot_btn{
    background-color: #6d6b6c;
}

#bot_btn:hover{
    background-color: #535353;
}

.roomContainer{
    background-color: #055f7e;
    min-height: 40px;
    width: calc(100% - 150px);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    
}

.roomContainer div{
    border-radius: 20px;
    /* background-color: #02394b; */
    flex-grow: 1;
    display: flex;
    justify-content:center;
    align-items: center;

}

a{
    all: unset;

}
.roomContainer:hover{
    background-color:#02283593;
    transition: .2s ease-in;
}


.btnConnect{
    
    
    gap: 5px;
}

.participants{
    
    
    flex-direction: row;

}

.aBtn{
    height: 10px;
    width: 10px;
    border-radius: 9999px;
  
}

.aBtnA{
    background-color: #3da859;
    
}

.aBtnF{
    background-color: black;
    
}

.unclick{
    pointer-events: none;
}
















/* FREINDS LIST */

.container-friends{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 18rem;
    background-color: #0096c7;
    transition: .3s;
}

.friends-list{
    position: relative;
    width: 100%;
    height: 88vh;
    overflow-y: auto;
    background-color: #0096c7;
    overflow-x: hidden;
}

.active{
    right:-195px;
}

.user{
    position: relative;
    top: 0;
    width: 100%;
    height: 3.75em;
    background-color : #06779d;
}

.user-sidebar{
    padding-left: 1.6rem;
}

.user-sidebar > .avatar-user{
    padding-left: 26px;
}

.username-main-active{
    padding-left: 50px;
}

.user-icon{
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    margin-left: -3px !important;
    color: wheat;
    display: inline;
    float: left;
}


.username-main{
    margin-left: 0.9rem;
    margin-bottom: 1.5rem;
    width: 20.4375rem;
    letter-spacing: 0.08rem;
    font-size: 15px;
    position: relative;
    display: inline;
    bottom: 22px;
    padding-left: 35px;
    color: white;
    float: left;
}

.add-friend{
    color: white;
    position: relative;
    top: 23px;
    right: -190px;
}

.sidebar-right-btn-active{
    right: 76px !important;
}

.sidebar-right-btn{
    color: white;
    position: relative;
    top: 23px;
    right: -200px;
    cursor: pointer;
}


.sidebar-right-btn:hover{
    color:#d1c294;
    transition: color .1s ease-in;
}

.avatar{
    padding-left: 5px;
}

.avatar-user{
    position: absolute;
    padding-top: 35px;
    left: 32px;
    font-size: 13px;
}

.avatar{
    position: absolute;
    padding-top: 12px;
    left: 5px;
    font-size: 13px;
}

.online{
    color: #57c752;
}

.offline-icon{
    opacity: 0;
}

.offline > .friend-icon{
    opacity: 0.5;
}

.offline > .username-main{
    opacity: 0.5;
}

.friend{
    position: relative;
    padding: 1rem 2.5rem 1.5rem 2.5rem;
    cursor: pointer;
}

.friend:hover{
    background-color:#4d4d4d ;
}

.friend:hover .remove{
    opacity: 1;
}

.friend-icon{
    color: #ccb27c;
}

username-main-span{
    font-size: 14px;
}

#searchuser{
    display : none;
}

#request{
    display: none;
}



#friend-list { 
display: block;
margin: 0;
padding: 0;
width: 300px;
height: 100%;
list-style-type: none;
}

.friend {
width: 100%;
height: 50px;
background: #EEE;
border-bottom: 1px solid #DDD;
cursor: pointer;
display: flex;
align-items: center;
transition: 0.3s;
}

.friend .user-icon {
width: 35px;
height: 35px;
border-radius: 30px;
object-fit: cover;
margin-left: 5px;
margin-right: 10px;
}

.friendOffline{
    opacity: 0.8;
    transition: 0.3s;
}

.friend .name {
font-size: 18px;
}

.friend:not(.selected):hover {
background: #DDD;
}

.friendOffline:not(.selected):hover {
    opacity:0.9;
}

